.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cbced4;
    padding: 3px 20px;
    color: white;
    border-radius: 30px;
  }
  
  .logo img {
    height: 52px; 
    width: auto;
    border-radius: 8px; 
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
  }
  
  .workspace {
    font-weight: bold;
  }
  
  .email {
    font-size: 0.9em;
  }
  